@model int

<h1>Create a new Thread:</h1>
<hr/>

@using (Html.BeginForm())
{
  @Html.HiddenFor(ParentBoardId)
  @Html.TextBoxFor(@Model, new { @type = "number"})

  @Html.LabelFor(model => model.Title)<br>
  @Html.TextBoxFor(model => model.Title, new { @class="form-control"})<br>

  @Html.LabelFor(model => model.CreationDate)<br>
  @Html.TextBoxFor(model => model.CreationDate, new { @class="form-control"})

  <button type="submit" class="btn btn-default">Add New Thread</button><br>
}

@Html.ActionLink("Back to Details", "Details")