@using System;
@model MessageBoardClient.Models.Thread

<h1>Create a new-ish Thread:</h1>
<hr/>

@using (Html.BeginForm("CreateThread", "Boards"))
{
  @Html.Hidden("ParentBoardId", @Model.ParentBoardId)
  @Html.Hidden("UserId", 1)

  @Html.LabelFor(model => model.Title)<br>
  @Html.TextBoxFor(model => model.Title)<br>

  @Html.Hidden("CreationDate", DateTime.Now)<br>

  <button type="submit" class="btn btn-default">Add New Thread</button><br>
}

@Html.ActionLink("Back to Details", "Details", new {id = @Model.ParentBoardId})