@model MessageBoardClient.Models.Board

<h4>Edit this Board: @Html.DisplayFor(model => model.Title)</h4>
<hr/>

@using (Html.BeginForm())
{
  @Html.Hidden("BoardId", @Model.BoardId)
  @Html.LabelFor(model => model.Title)<br>
  @Html.EditorFor(model => model.Title, new { @class="form-control"})<br>
  
  <button type="submit" class="btn btn-default">Save Changes</button>
}

@Html.ActionLink("Back to Details", "Details")